[submodule "LessonAble_Dataset_Generator"]
	path = LessonAble_Dataset_Generator
	url = https://github.com/ciro97sa/LessonAble_Dataset_Generator
[submodule "Audio/ItalianMozillaTTS"]
	path = Audio/ItalianMozillaTTS
	url = https://github.com/ciro97sa/ItalianMozillaTTS
[submodule "Video/Wav2Lip"]
	path = Video/Wav2Lip
	url = https://github.com/Rudrabha/Wav2Lip.git
[submodule "Video/first-order-model"]
	path = Video/first-order-model
	url = https://github.com/AliaksandrSiarohin/first-order-model
[submodule "training/Audio/ItalianMozillaTTS"]
	path = training/Audio/ItalianMozillaTTS
	url = https://github.com/ciro97sa/ItalianMozillaTTS
