
[submodule "sources/training/Audio/tacotron2"]
	path = sources/training/Audio/tacotron2
	url = https://github.com/ciro97sa/tacotron2
[submodule "sources/training/Audio/ITAcotron_2"]
	path = sources/training/Audio/ITAcotron_2
	url = https://github.com/ciro97sa/ITAcotron_2
[submodule "sources/lesson_generation/lipsyncing/Wav2Lip"]
	path = sources/lesson_generation/lipsyncing/Wav2Lip
	url = https://github.com/Rudrabha/Wav2Lip
[submodule "sources/lesson_generation/video/first-order-model"]
	path = sources/lesson_generation/video/first-order-model
	url = https://github.com/AliaksandrSiarohin/first-order-model
[submodule "sources/data_collection/LEssonAble_SDG"]
	path = sources/data_collection/LEssonAble_SDG
	url = https://github.com/priamus-lab/LEssonAble_SDG
